<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            ZestIoT Assignment Submission
        </title>
        <link href="/css/font.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/app.js"></script>
    </head>
        <body>
            <div style="margin-left:4%; margin-top:5%">
            
            <h1>The following is the assignment submission for internship role at ZestIoT</h1>
            <p>I made a scrapper for Indigo and AirVistara websites to scrap the static data regarding flight details 
                on 26th of November. I tried making a dynamic website but there are high restrictions to crawl their websites
                and since the time given for me is only 2 days I was unable to complete the assignment fully.
            </p>
            </div>
            <form method="post" action="/airplane">
                <div class="btn-group float-center w-75 p-5" role="group" aria-label="Basic example">
                    <button class="btn btn-secondary w-25" type="submit" name="airplane" value="indigo">Indigo</button>
                    <button class="btn btn-secondary w-25" type="submit" name="airplane" value="vistara">Vistara</button>
                </div>
            </form>
            {{{body}}}
        </body>
</html>